.class1 {
    display: block;
}

.ustbar {
    display: flex;
    float: right;
    padding-right: 30px;

}

.ustbar a {
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;

}

#butt {
    border-radius: 4px;
}

#avatar {
    border-radius: 50px;
    float: right;
}
#avatar:hover{
    width: 100px;
    height: 100px;
}
.logo {
    padding-top: 242px;
    width: 100%;
    text-align: center;
    padding-bottom: 16px;

}

.search-area {
    display: block;

}

.search {
    border: 1px solid #dcdcdc;
    border-radius: 30px;
    width: 575px;
    margin: 0 auto;

}

#subs {
    outline: none;
    border: none;
    height: 45px;
    width: 500px;
    font-size: 16px;
}

svg {
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    fill: rgba(95, 99, 104);
}


.voice {
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.search:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

button{
    
        margin-right: 10px;
        padding: 0 16px;
        line-height: 27px;
        min-width: 54px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 28px;
        font-family: arial, sans-serif;
    
}

#apps {
    float: right;
}


footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    background: #f2f2f2;
  }

footer a{
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
    float: left;

}